body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGr_S5RAOq_q3gwbQWd4JHYAPnd2xqgudcA1uwdGbBnbjxBFMR");
    
}

button {
    margin: 20px;
}

label {
    color: whitesmoke;
}

img {
    border: whitesmoke;
    border-width: 20px;
}

.search {
    color: black;
}

.rating {
    color: whitesmoke;
}